node_modules
build
dist
.next
.expo
**/ios
**/android
*.lock
pnpm-lock.yaml
yarn.lock
package-lock.json
apps/mobile/ios
apps/mobile/android
coverage
**/*.snap

packages/core/src/model/genTypes
packages/core/src/model/mockData
packages/core/src/model/schemas
